@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Mono:700|IBM%20Plex%20Mono:400");

:root {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #0f0f0f;
}

@layer base {
    @font-face {
        font-family: "IBM Plex Mono";
        src: url("/IBMPlexMono-Regular.ttf");
    }
}

body {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #1a1a1a 1px, transparent 1px),
        linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::selection {
    background: #ffb7b7; /* Background color for the selection */
    color: #000; /* Text color for the selection */
}

/* For Firefox */
::-moz-selection {
    background: #ffb7b7; /* Background color for the selection */
    color: #000; /* Text color for the selection */
}
